.choose-price, #province, #city, #neighbourhood {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	/* cursor: pointer; */
	height: 35px;
	position: relative;
	width: 10%;
	/* margin: auto; */
}

/* .choose-price:after, #province:after, #city:after, #neighbourhood:after {
	background: transparent url("images/slices.png") no-repeat scroll -33px -464px;
	bottom: 0;
	content: ' ';
	display: block;
	height: 9px;
	left: 5px;
	margin: auto;
	position: absolute;
	top: 0;
	width: 10%;
} */

.choose-price span, #province span, #city span, #neighbourhood span {
	position: absolute;
	/* right: 30px; */
    text-align: center;
    width: 100%;
	top: 5px;
}

.choose-price ul, #province ul, #city ul, #neighbourhood ul {
	background-color: #FFFFFF;
	box-shadow: 0 2px 2px rgba(0,0,0,.5);
	display: none;
	height: auto;
	margin-top: 36px;
	position: relative;
	z-index: 1;
}

.choose-price li, #province li, #city li, #neighbourhood li {
	background-color: inherit !important;
	border: inherit !important;
	display: block !important;
	float: none !important;
	font-size: inherit !important;
	height: auto !important;
	line-height: inherit !important;
	margin-right: auto !important;
	padding: 2px 5px !important;
	position: inherit !important;
	width: auto !important;
}

.choose-price ul li:hover, #province ul li:hover, #city ul li:hover, #neighbourhood ul li:hover {
	background: #f9f9ff !important;
}

